/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 :root {
   --main-font: Futura;
 }

/*Museo
Futura
Helvetica
Avenir
Neuzeit
Neue-Helvetica
Folio*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.justify {
text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
}

.normal {
  text-decoration: none;
  border-bottom: 2px dotted #0c0;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

@font-face {
    font-family: 'Museo';
    src: url('webfonts/30F17A_0_0.ttf');
}


@font-face {
    font-family: 'Futura';
    src: url('webfonts/Futura.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('webfonts/Helvetica-Normal.ttf');
}

@font-face {
    font-family: 'Avenir';
    src: url('webfonts/Avenir-Book.otf');
}

 @font-face {
    font-family: 'Neuzeit';
    src: url('webfonts/NeuzeitSLTStd-Book.otf');
}

@font-face {
    font-family: 'Neue-Helvetica';
    src: url('webfonts/NeueHelveticaBQ-Roman.otf');
}

@font-face {
    font-family: 'Folio';
    src: url('webfonts/Folio Book BT.ttf');
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?8v36i3');
    src: url('/fonts/icomoon.eot?8v36i3#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?8v36i3') format('truetype'), url('/fonts/icomoon.woff?8v36i3') format('woff'), url('/fonts/icomoon.svg?8v36i3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-square:before {
    content: "\e900";
    font-size: 5vw;
}

.icon-instagram:before {
    content: "\e901";
    font-size: 5vw;
}

.icon-facebook-square:before {
    content: "\e902";
    font-size: 5vw;
}

.parent {
    display: flex;
    /*flex-direction: row;*/
    background: #0A0908;
    height: 100vh;
    font-family: var(--main-font);
    overflow:hidden;
}

/*.child1 {
    background: #F2F4F3;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.child2 {
    background: #0A0908;
    height: 100vh;
    width: 50%;
}*/

.text-main {
    margin: auto;
    color: #F2F4F3;
}

.question {
  font-size: 1.7em;
}

.answer {
  font-size: 1.2em;
}

.img-ball {
    width: 100%;
    max-width: 100%;
    height: auto;
    width: 25vw;
}

@media only screen and (max-width: 768px) {
    .icon-twitter-square:before {
        content: "\e900";
        font-size: 10vw;
    }
    .icon-instagram:before {
        content: "\e901";
        font-size: 10vw;
    }
    .icon-facebook-square:before {
        content: "\e902";
        font-size: 10vw;
    }
    /*.parent {
        display: flex;
        flex-direction: column;
        height: 200vh;
        font-family: var(--main-font);
    }*/
    .parent {
        display: flex;
        flex-direction: column;
        background: #0A0908;
        height: 100vh;
        font-family: var(--main-font);
        overflow:scroll;
    }
    .question {
      font-size: 4.5vw;
    }

    .answer {
      font-size: 3.5vw;
    }
    .text-main {
        margin: 5% 5%;
        color: #F2F4F3;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
